.work {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scrollText {
  color: #4f4f4f;
  font-family: "grotesfsk", sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/* Responsive For 1024px */
@media (max-width: 1024px) {
  .work_content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

/* Responsive For 620px */
@media (max-width: 620px) {
  .work {
    padding: 0 1rem;
  }

  .work_content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
